# {% for module in enabled_modules %}
# load_module /etc/nginx/modules/{{ module }};
# {% endfor %}

user root;
worker_processes auto;

error_log /var/log/nginx/error.log notice;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
}


{% for server in servers %}
{{ server }} {
    include /etc/nginx/sites-enabled/{{ server }}
}
{% endfor %}